<a href="https://colab.research.google.com/github/lakshuguru/Indulged-with-datasets/blob/main/CO2_emission_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [15]:
df=pd.read_csv("//content//co2_emission.csv")
df

            Entity Code  Year  Annual CO₂ emissions (tonnes )
0      Afghanistan  AFG  1949                        14656.00
1      Afghanistan  AFG  1950                        84272.00
2      Afghanistan  AFG  1951                        91600.00
3      Afghanistan  AFG  1952                        91600.00
4      Afghanistan  AFG  1953                       106256.00
...            ...  ...   ...                             ...
20848     Zimbabwe  ZWE  2013                     11536239.29
20849     Zimbabwe  ZWE  2014                     11866348.41
20850     Zimbabwe  ZWE  2015                     10907603.94
20851     Zimbabwe  ZWE  2016                      9932649.88
20852     Zimbabwe  ZWE  2017                     10397718.47

[20853 rows x 4 columns]

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20853 entries, 0 to 20852
Data columns (total 4 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Entity                          20853 non-null  object
 1   Code                            18646 non-null  object
 2   Year                            20853 non-null  int64
 3   Annual CO₂ emissions (tonnes )  20853 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 651.8+ KB

In [17]:
df[df['Code'].isnull()]['Entity'].unique()

array(['Africa', 'Americas (other)', 'Antarctic Fisheries',
       'Asia and Pacific (other)', 'EU-28', 'Europe (other)',
       'International transport', 'Kyrgysztan', 'Middle East',
       'Statistical differences', 'Wallis and Futuna Islands'],
      dtype=object)

In [18]:
df[df['Code'].isnull()].nunique()

Entity                              11
Code                                 0
Year                               267
Annual CO₂ emissions (tonnes )    1164
dtype: int64

In [19]:
df.describe()

               Year  Annual CO₂ emissions (tonnes )
count  20853.000000                    2.085300e+04
mean    1953.339424                    1.930517e+08
std       57.903089                    1.345143e+09
min     1751.000000                   -6.255223e+08
25%     1932.000000                    3.187680e+05
50%     1971.000000                    3.828880e+06
75%     1995.000000                    3.706898e+07
max     2017.000000                    3.615326e+10

In [20]:
df.describe(include=['object'])

                Entity   Code
count            20853  18646
unique             233    222
top     United Kingdom    GBR
freq               267    267

In [21]:
df.isnull().sum()

Entity                               0
Code                              2207
Year                                 0
Annual CO₂ emissions (tonnes )       0
dtype: int64

In [22]:
df.nunique()

Entity                              233
Code                                222
Year                                267
Annual CO₂ emissions (tonnes )    13092
dtype: int64

In [23]:
df['Year'].value_counts()

2007    230
2006    229
2008    229
2011    229
2002    229
       ...
1780     13
1764     13
1779     13
1763     13
1760     13
Name: Year, Length: 267, dtype: int64

In [24]:
df['Code'].value_counts()

GBR         267
OWID_WRL    267
USA         267
IND         256
CHN         254
           ...
FSM          26
MHL          26
TLS          16
CXR          14
LIE          11
Name: Code, Length: 222, dtype: int64

In [25]:
df['Annual CO₂ emissions (tonnes )'].value_counts()

0.000000e+00    1289
3.664000e+03     271
1.099200e+04     174
4.763200e+04     129
7.328000e+03     122
                ...
1.032515e+07       1
1.963538e+06       1
2.698885e+06       1
3.318851e+07       1
2.885294e+09       1
Name: Annual CO₂ emissions (tonnes ), Length: 13092, dtype: int64

In [26]:
df['Entity'].value_counts()

United Kingdom               267
United States                267
Middle East                  267
Americas (other)             267
International transport      267
                            ...
Antarctic Fisheries           21
Wallis and Futuna Islands     17
Timor                         16
Christmas Island              14
Liechtenstein                 11
Name: Entity, Length: 233, dtype: int64

In [34]:
df=df.fillna(0)

In [35]:
df.isnull().sum()

Entity                            0
Code                              0
Year                              0
Annual CO₂ emissions (tonnes )    0
dtype: int64

1.To know the countries with max and min emission of CO2.

2.To order of country's line up WRT CO2 emission.

3.To visualize the 2nd query.

4.

In [36]:
df['Entity'].max()

'Zimbabwe'

In [38]:
df.max()

Entity                               Zimbabwe
Year                                     2017
Annual CO₂ emissions (tonnes )    3.61533e+10
dtype: object

In [39]:
df['Entity'].min()

'Afghanistan'

In [40]:
df.min()

Entity                            Afghanistan
Year                                     1751
Annual CO₂ emissions (tonnes )   -6.25522e+08
dtype: object